@use "variables" as *;

/* ==========================================
   RESET CSS
========================================== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ==========================================
   BODY
========================================== */
body {
    font-family: $font-base;
    background-color: $color-background;
    color: $color-text;
    line-height: 1.6;
}
/* ==========================================
   LINK
========================================== */
a {
    text-decoration: none;
    color: inherit;
}
/* ==========================================
   IMAGE
========================================== */
img {
    max-width: 100%;
    height: auto;
    display: block;
}