/* ==========================================
   VARIABLES
========================================== */

/* Colors */
$color-primary: #ebe38a;
$color-secondary: #b2b515;
$color-background: #000000;
$color-text: #dec33f;
$color-footer: #ebca14;
$color-sidebar: #d7a424;

/* Font */
$font-base: "Inter", Arial, sans-serif;

/* Spacing */
$spacing: 16px;

/* Border Radius */
$radius: 8px;

/* Box Shadow */
$shadow: 0 2px 8px rgba(0, 0, 0, 0.1);